@import url('https://fonts.cdnfonts.com/css/amazon-ember');

:root{
    --primary-color: #010D0C;
    --secondary-color:  #1A1E24;
    --secondary-color-transparent:  #1a1e24a5;
    --terciary-color: #fafafa;
    --dropdown-list-color: #848587;
    --blue-letter-color: #4896F7;
    --blue-dark-color: #2062b3;
}

*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Amazon Ember"
}

/* NAVBAR */
nav {
    font-weight: 800;
    font: var(--terciary-color);
    background-color: var(--primary-color);
    height: 5rem;
}

nav a{
    color: var(--terciary-color);
    font-weight: 600;
    font-size: 1.2rem;
}

#btn-menu {
    color: var(--terciary-color);
}

#logo-img{
    width: 6rem;
}

.dropdown-item {
    color: var(--dropdown-list-color);
    text-decoration: none; 
    width: auto;
}
/* dropdowns del navbar */
#dropdown-menu {
    background-color: var(--secondary-color);
    position: absolute;
    top: 80px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

#dropdown-search{
    background-color: var(--secondary-color);
    position: absolute;
    top: 80px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}

#input-search-navbar{
    background-color: var(--dropdown-list-color);
    border-left: none;
    border-radius: 0 5 5 0;
}

#dropdown-user {
    background-color: var(--secondary-color);
    position: absolute;
    top: 80px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
}
/* Cards */
.card-body {
    opacity: 0; /* Inicialmente oculto */
    height: 0; /* Inicialmente oculto */
    transition: 1s ease;/* Define la transición */
  }
  
  .card:hover .card-body {
    opacity: 1; /* Mostrar con opacidad total al pasar el mouse */
    height: auto; /* Ajustar la altura automáticamente */
  }
  
/* botones activos del navbar */

.btn-navbar-active{
    border: none;
    background-color: var(--secondary-color);
}

/* navbar responsive */
@media (width >= 1000px){
    #dropdown-menu{
        display: none;
    }

    #btn-menu{
        display: none;
    }

    #menu-links{
        display: flex;
        justify-content: center;
        gap: 2rem;
        order: 1;
    }

    #menu-links a:hover{
        background-color: var(--secondary-color);
        color: var(--dropdown-list-color);
        padding: 0 0.3rem;
    }

    #navbar-logo{
        order: 0;
        padding: 2rem;
    }

    #btn-search{
        order: 2;
    }

    #btn-user{
        order: 3;
    }

    #dropdown-search{
        background-color: var(--secondary-color);
        position: absolute;
        top: 80px;
        z-index: 10;
        width: 100vw;
        height: auto;
    }

    #dropdown-user {
        background-color: var(--secondary-color);
        position: absolute;
        top: 80px;
        z-index: 10;
        width: 100vw;
        height: auto;
        padding: 1rem;
    }
}

@media (width < 1000px){
    #menu-links{
        display: none;
    }
}


/* FOOTER */

#footer-bg {
    background-color: var(--primary-color);
}

.footer-link{
    color: var(--blue-letter-color);
    text-decoration: none;
    font-size: 1rem;
}

#footer-p{
    color: var(--dropdown-list-color);
    font-size: 0.8rem;
    margin-bottom: 0;
}

@media (width >= 768px){
    #footer-p{
        font-size: 15px;
        font-weight: 600;
    }

    .footer-link{
        font-size: 15px;
        font-weight: 600;
    }

    #img-logo-footer{
        max-width: 9rem;
    }
}

/* HOME */

#banner-container{
    background-color: var(--primary-color);
    margin-top: 80px;
}

.banner-item{
    height: 70vh;
    /* object-fit: cover;
    overflow: hidden; */
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 1) 20%, rgba(255, 255, 255, 0) 100%);

}

.img-carousel{
    height: 70vh;
    object-fit: cover;
    overflow: hidden;
}

.title-container{
    padding: 10rem 2rem 2rem 0;
}

.bg-carousel-container{
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.8) 20%, rgba(255, 255, 255, 0) 100%);
    padding: 2rem;
    height: 70vh;
}

#img-default{
    height: 70vh;
}


/* ADMIN */

#main-admin-container {
    background-color: var(--primary-color);
}

.btn-blue-style{
    background-color: var(--secondary-color);
    color: var(--terciary-color);
}

.btn-blue-style:focus{
    background-color: var(--blue-letter-color);
    font-weight: 800;
}

.btn-blue-style:hover{
    background-color: var(--blue-letter-color);
    font-weight: 800;
}


/* FAVORITE MOVIE/SERIE */

.star-fav {
    color: #f7da48;
}

.star-unfav {
    color: #666664;
}

.btn-fav-default{
    border: none;
    background-color: transparent;
}

.image-table{
    width: 170px;
    height: 120px;
    object-fit: cover;
}

@media (width >= 576px){
    #movie-form-container{
        max-width: 38rem;
        margin: auto;
    }

    #serie-form-container{
        max-width: 38rem;
        margin: auto;
    }

    #select-movies-container{
        max-width: 38rem;
        margin: auto;
    }
}
