@import url('https://fonts.cdnfonts.com/css/amazon-ember');

:root{
    --primary-color: #010D0C;
    --secondary-color:  #1A1E24;
    --terciary-color: #fafafa;
    --dropdown-list-color: #848587;
    --blue-letter-color: #4896F7;
    --blue-dark-color: #2062b3;
}

*{
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Amazon Ember"
}

/* NAVBAR */
nav {
    font-weight: 600;
    font: var(--terciary-color);
    background-color: var(--primary-color);
}

nav a{
    color: var(--terciary-color);
}

#btn-menu {
    color: var(--terciary-color);
}

#dropdownMenu-container {
    background-color: var(--secondary-color);
}

.list-color {
    color: var(--dropdown-list-color);
    text-decoration: none; 
}

#title {
    color: var(--terciary-color);
}


/* FOOTER */

#footer-bg {
    background-color: var(--primary-color);
}

.footer-link{
    color: var(--blue-letter-color);
    text-decoration: none;
    font-size: 1rem;
}

#footer-p{
    color: var(--dropdown-list-color);
    font-size: 0.8rem;
    margin-bottom: 0;
}

@media (width >= 768px){
    #footer-p{
        font-size: 15px;
        font-weight: 600;
    }

    .footer-link{
        font-size: 15px;
        font-weight: 600;
    }

    #img-logo-footer{
        max-width: 9rem;
    }
}

/* ADMIN */

#main-admin-container {
    background-color: var(--primary-color);
}

.btn-blue-style{
    background-color: var(--secondary-color);
    color: var(--terciary-color);
}

.btn-blue-style:focus{
    background-color: var(--blue-letter-color);
    font-weight: 800;
}

.btn-blue-style:hover{
    background-color: var(--blue-letter-color);
    font-weight: 800;
}
/* FAVORITE MOVIE/SERIE */

.star-fav {
    color: #f7da48;
}

.star-unfav {
    color: #666664;
}

.btn-fav-default{
    border: none;
    background-color: transparent;
}

.image-table{
    width: 170px;
    height: 120px;
    object-fit: cover;
}

@media (width >= 576px){
    #movie-form-container{
        max-width: 38rem;
        margin: auto;
    }

    #serie-form-container{
        max-width: 38rem;
        margin: auto;
    }

    #select-movies-container{
        max-width: 38rem;
        margin: auto;
    }
}